/*Esta es la paleta de colores*/
.n{
	/*azul de las pestañas, pestaña seleccionada*/
	color: #2D5D74;
	/*azul de las pestañas, pestaña no seleccionada y color de la franja debajo del titulo*/
	color: #174D66;
	/*color del modal*/
	color: rgba(23,77,102,0.9);
	/*color del primer item del menu 'por grado de efectividad'*/
	color: #215A7C;
	/*color 'buena practica' menu*/
	color: #25769E;
	/*color primer menu desplegado y botones de esta sección*/
	color: #537CA0;
	/*color segundo item del menu 'por tipo de prevención, desarrollo y comunitaria'*/
	color: #008452;
	/*color menu desplegado y botones de esta sección*/
	color: #6BA942;
	/*color tercer item del menu 'por tipo de intervencion'*/
	color: #008688;
	/*color dentro del tercer item 'programas y estrategias'*/
	color: #438D89;
	/*color menu desplegado y botones de esta seccion*/
	color: #669489;
	/*color cuarto item del menu 'por tipo de poblacion objetivo'*/
	color: #359A82;
	/*color secciones dentro del cuarto item de menu 'primeria, secundatia y terciaria'*/
	color: #3EB397;
	/*coloe menu desplegado y botones de esta seccion */
	color: #7CBC97;
	/*encabezados, botones y menu*/
	font-family: serif;
	/*texto de informacion*/
	font-family: sans-serif;
	/*los iconos van a salir de font awesome, ya puse un cdn de esa libreria de iconos, ya solo hay que ir a la pagina y sacar el nombre de los iconos que usaremos :)*/
	color: #E9EEE9;
	/* background gris */
}

*{
	margin: 0px;
}

a {
	text-decoration: none;
}

nav{
	width: 100%;
	background-color: #174D66;
}

nav ul{
	width: 100%;
	padding-left: 0px;
	margin-left: 0px;
	margin-right: 0px;
	display: flex;
	justify-content: space-between;
}

nav ul li{
	display: inline;
	width: 33.3%;
	height: 52px;
	color: white;
	font-family: sans-serif;
	display: flex;
	font-size: 18px;
	align-items: center;
	justify-content: center;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border: 2px solid rgba(255,255,255,0.4);
	border-bottom: none;
	cursor: pointer;
}

.active01{
	background-color: #2D5D74;
}

.header{
	width: 100%;
	height: 79px;
	display: flex;
	font-size: 18px;
	justify-content: center;
	align-items: center; 
}

.header div{
	width: 95%;
	text-align: center;
	border-bottom: 8px solid #174D66;
}

.container-modal{
	background-color: rgba(0,0,0,0.5);
	width: 100vw;
	height: 100vh;
	display: flex;
	position: fixed;
  z-index: 999;
	justify-content: center;
	align-items: center;
	top: 0px;
	color: white;
}

.modal{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 95%;
	height: 70vh;
	background-color: rgba(23,77,102,0.9);
	border-radius: 10px;
}

.modal i{
	align-self: flex-end;
	font-size: 2.5em;
	margin-right: 0.9em;
	cursor: pointer;
}

.modal div{
	width: 65%;
	height: 75%;
	font-family: sans-serif;
}

.modal div big{
	font-size: 35px;
	line-height: 80px;
	font-weight: 500;
}

.modal div p , .modal div li , .modal div a{
	font-size: 18px;
	line-height: 21px;
	color: white;
}

.container {
	display: flex;
}

.navbar {
	flex: 30%;
	color: #fff;
	margin: 0 20px 0 35px; 
}

.navbar ul {
	list-style: none;
}

.navbar-container {
	padding: 10px 0 10px 10px;
	list-style: 20px;
}

.container-text {
	flex: 70%;
}

.container-background {
	background-color: #E9EEE9;
	padding: 20px;
	border-radius: 8px;
	margin-right: 40px;
}

.container-box {
	display: flex;
	margin-right: 40px;
	padding: 10px;
}

.container-box .box {
	flex: 1;
	width: 100px;
	height: 40px;
	text-align: center;
	box-shadow: 5px 5px 10px #727576;
	border-radius: 8px;
	padding: 15px;
	color: #fff;
	margin: 0 10px 0 10px;
}

.show-pop{
	display: initial;
}
.hidden-pop{
	display: none;
}








