.back-blue-navbar {
	background-color: #2D5D74;
}

.back-green-navbar {
	background-color: #008452;
}

.back-blue02-navbar{
	background-color: #008688;
}

.back-green02-navbar{
	background-color: #359A82;
}

.background-blue {
	background-color: #25769E;
}

.backgroun-green{
	background-color: #47A147;
}

.backgroun-blue02{
	background-color: #438D89;
}

.background-green02{
	background-color: #3EB397;
}

.text-big {
	font-size: 20px;
}

.text-medium{
	font-size: 18px;
}

.text-small {
	font-size: 13px;
}

.text--line {
	line-height: 30px;
}

.practica{
	background-color: #537CA0;
}

.prevencion{
	background-color: #6BA942;
}

.intervencion{
	background-color: #669489;
}

.poblacion{
	background-color: #7CBC97;
}

.item-practica{
	padding-left: 8%;
}
.litte-item{
	padding-left: 15%;
}