
.background-text-good {
	background-color: #E9EEE9;/*Fondo del texto de Buenas practicas*/
}

.back-blue-navbar{
	background-color: #215A7C;
}
.back-green-navbar {
	background-color: #008452;
}

.back-blue02-navbar{
	background-color: #008688;
}

.back-green02-navbar{
	background-color: #359A82;
}

.background-blue {
	background-color: #25769E;/*Botones Buenas Practicas*/
}

.background-text-des {
	background-color: #E8EAEC;/*Fondo del texto de Desarollo y Programas*/
}

.background-green {
	background-color: #6BA942;/*Botones Desarrollo*/
}

.background-green-pro {
	background-color: #669489;/*Botones Programas*/
}

.background-text-ter {
	background-color: #F2F0EA;/*Fondo del texto de Terciaria*/
}

.background-green-ter {
	background-color: #6CBE99;/*Botones Terciaria*/
}

.backgroun-green{
	background-color: #47A147;
}

.backgroun-blue02{
	background-color: #438D89;
}

.background-green02{
	background-color: #3EB397;
}

.background-green-type {
	background-color: #008452;/*Botones Tipo - Circulos de Apoyo y Responsabilidad*/
}

.background-blue-type {
	background-color: #006890;/*Barras - Circulos de Apoyo y Responsabilidad*/
}

.background-white {
	background-color: #006890;/*Barras - Circulos de Apoyo y Responsabilidad*/
}

.text-white {
	color: #fff;
}

.text-black {
	color: #000;
}
.good-pract{
	color: #008452;
}

.bad-pract{
	color: #C73D3D;
}

.promis-pract{
	color: #CF8A1C;
}

.text-big {
	font-size: 20px;
	padding: 2%;
}

.text-medium{
	font-size: 18px;
}

.text-small {
	font-size: 13px;
}

.text--line {
	line-height: 30px;
}

.text-center {
	text-align: center;
}

.padding {
	padding: 0 150px;/*Para segunda seccion*/
	margin-top: 15px;
}

.practica{
	background-color: #537CA0;
}

.prevencion{
	background-color: #6BA942;
}

.intervencion{
	background-color: #669489;
}

.poblacion{
	background-color: #7CBC97;
}

.item-practica{
	padding-left: 8%;
}
.litte-item{
	padding-left: 15%;
}


.padding-50 {
	padding: 0 50px 0 0;
}

.float-r{
	float: right;
	padding-right: 3%;
	font-size: 1px;

}
.rotate{
	transform: rotate(45deg);
	margin-top: 5px;
}

#desarrollo, #programas, #terciaria{
	margin-top: 10%;
}

.foc{
	padding-top: 2%;
	padding-bottom: 9%;
}

